[
  {
      "symbol": "BNBUSDT",
      "quantity": 0.024,
      "rate": 0,
      "buy_price": 0,
      "sell_price": 0,
      "buy_quantity": 0,
      "buy_open": true,
      "sell_open": true,
      "stop_loss": 0,
      "history_trade": []
  }
]